<!DOCTYPE html>
<html lang="de">
<head>
  {{- partial "head.html" . -}}
  <title>{{ block "title" . }}
    {{ .Site.Title }}
    {{ if .Site.Params.Subtitle }}
      &ndash; {{ .Site.Params.Subtitle }}
    {{ end }}
    {{ end }}</title>
</head>
<body>
<header id="header">
  {{- partial "header.html" . -}}
</header>
<div id="content" class="container grid-lg">
  <main class="container">
    {{- block "main" . }}{{- end }}
  </main>
</div>
{{- partial "footer.html" . -}}
</body>
</html>
