{{ define "main" }}
<h1>{{ .Title }}</h1>

<div class="columns">
  {{ range .Pages }}
    {{- partial "card.html" . -}}
  {{ end }}
</div>

<ul>
  {{ range .Pages }}
  <li>
    <a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }} | {{ .Title }}</a>
  </li>
  {{ end }}
</ul>
{{ end }}
