{{ define "main" }}
<div class="container bg-secondary">
  <div class="columns">
    <div class="column col-1 hide-md card">&nbsp;</div>
    <div class="column col-10 col-md-12 card">
      <article>
        <div class="card-header">
          <h1>{{ .Title }}</h1>
        </div>
        <div class="card-body">
          {{ .Content }}
        </div>
      </article>
    </div>
    <div class="column col-1 hide-md card">&nbsp;</div>
  </div>
</div>
{{ end }}
