// Font
$base-font-family: "Fira Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
//@import "fonts";
$border-radius: 0;

// The framework...
@import "../vendor/spectre/src/spectre";
@import "cards";

/*
 * Special styles
 */
// Variables
$header-height: 3rem;

// General things...
body {
  background-image: url("/images/VFN_20496-1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center $header-height;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Fira Sans', sans-serif;
  overflow-y:scroll;
}

// Site header and main navigation
#main-navigation {
  width: 100%;
}
#main-navigation > .navbar {
  height: $header-height;
}

// Site title and subtitle
#homepage-title {
  padding-top: 1.5 * $header-height;
  @media (max-width: $size-xs) {
    padding-top: 1 * $header-height;
  }
}
#homepage-title a:hover {
  text-decoration: none;
}
.site-title {
  padding: 0.8rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.08rem;
  font-size: 2.6rem;
}
.site-subtitle {
  font-size: 1.15rem;
  font-style: italic;
  letter-spacing: 0.04rem;
}

main .column {
  padding: .4rem;
}
