<div class="column col-3 col-xl-4 col-xs-12">
  <a href="{{ .Permalink }}">
  <div class="card">
    <div class="card-image">
      <img class="img-responsive" src="{{ .Params.featured_image }}">
    </div>
    <div class="card-header">
      <div class="card-title h5">{{ .Title }}</div>
    </div>
    <div class="card-body">
      {{ .Content | plainify | truncate 100 }}
      <div class="divider text-center"></div>
      <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
        {{ .Date.Day }}. {{ index .Site.Data.monate (printf "%d" .Date.Month) }} {{ .Date.Year }}
      </time>
    </div>
  </div>
  </a>
</div>
