<div id="main-navigation" class="p-fixed bg-dark">
  <div class="navbar container grid-lg">
    <section class="navbar-section">
      <a href="/">
        <svg enable-background="new 0 0 400 400" height="3em" width="3em" id="logo" version="1.1" viewBox="0 0 400 400" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" y="0px">
          <polygon fill="#FFFFFF" points="380,77.815 380,129.962 287.412,129.958 266.192,179.22 335.037,179.22 335.063,230.736 244.014,230.736 204.606,322.185 121.086,322.185 20,77.815 94.905,77.815 166.83,262.885 241.239,77.815 "/>
        </svg>
      </a>
      <div class="divider-vert text-light"></div>
      <a class="btn btn-link text-light" href="/ueber">von & über</a>
    </section>
    <section class="navbar-section">
      <a class="btn btn-link" href="https://twitter.com/funkvn">
        <svg enable-background="new -171.154 228.846 400 400" height="1.5em" width="1.5em" id="twitter-logo" version="1.1" viewBox="-171.154 228.846 400 400" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" y="0px">
          <path d="M208.846,317.2c-13.231,5.881-27.476,9.848-42.42,11.625c15.258-9.135,26.962-23.6,32.479-40.863	c-14.273,8.471-30.073,14.615-46.901,17.934c-13.474-14.352-32.671-23.328-53.909-23.328c-40.785,0-73.854,33.07-73.854,73.861 c0,5.781,0.649,11.412,1.912,16.828c-61.381-3.082-115.811-32.484-152.242-77.166c-6.359,10.896-9.991,23.586-9.991,37.131	c0,25.627,13.031,48.234,32.849,61.473c-12.096-0.385-23.493-3.711-33.448-9.24c-0.007,0.307-0.007,0.619-0.007,0.934	c0,35.783,25.455,65.627,59.247,72.422c-6.195,1.678-12.725,2.584-19.462,2.584c-4.76,0-9.392-0.457-13.895-1.328	c9.398,29.338,36.675,50.705,68.988,51.297c-25.277,19.811-57.113,31.615-91.725,31.615c-5.959,0-11.84-0.35-17.62-1.035 c32.692,20.967,71.515,33.184,113.22,33.184c135.857,0,210.142-112.541,210.142-210.141c0-3.203-0.064-6.395-0.207-9.57 C186.43,345.024,198.955,332.009,208.846,317.2z" fill="#FFFFFF"/>
        </svg>
      </a>
      <a class="btn btn-link" href="https://github.com/funkvn">
        <svg enable-background="new 312 312 400 400" height="1.5em" width="1.5em" id="github-logo" version="1.1" viewBox="312 312 400 400" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" y="0px">
          <path d="M512,336.438c-99.404,0-180,80.596-180,180c0,79.54,51.57,146.996,123.102,170.793 c8.998,1.647,12.283-3.911,12.283-8.657c0-4.285-0.165-18.479-0.253-33.509c-50.054,10.877-60.634-21.226-60.634-21.226 c-8.195-20.786-19.984-26.323-19.984-26.323c-16.359-11.162,1.241-10.942,1.241-10.942c18.073,1.253,27.587,18.545,27.587,18.545 c16.062,27.51,42.144,19.556,52.383,14.941c1.636-11.602,6.294-19.556,11.426-24.038c-39.958-4.548-81.991-19.995-81.991-88.967 c0-19.666,7.021-35.705,18.512-48.307c-1.835-4.57-8.031-22.885,1.78-47.659c0,0,15.095-4.834,49.504,18.457 c14.348-4.01,29.741-5.987,45.044-6.053c15.293,0.066,30.696,2.065,45.067,6.075c34.343-23.313,49.46-18.457,49.46-18.457 c9.844,24.796,3.647,43.088,1.802,47.637c11.535,12.602,18.501,28.642,18.501,48.307c0,69.148-42.1,84.375-82.199,88.835 c6.482,5.581,12.217,16.523,12.217,33.311c0,24.061-0.242,43.462-0.242,49.395c0,4.79,3.274,10.394,12.393,8.636 C640.474,663.391,692,595.935,692,516.439C692,417.034,611.404,336.438,512,336.438z" fill="#FFFFFF"/>
        </svg>
      </a>
    </section>
  </div>
</div>
<div id="homepage-title" class="container grid-xl text-center text-light">
  <a href="/" class="text-light">
  <div class="site-title">{{ .Site.Title }}</div>
  {{ if .Site.Params.Subtitle }}
    <div class="site-subtitle">{{ .Site.Params.Subtitle }}</div>
  {{ end }}
  </a>
</div>
